body {
    background-image: url(laptop.jpg);
    background-size: cover;
    margin:0% 1%;
    padding:0px;
    background-attachment: fixed;
}
/*
header {
    background-color:rgb(248, 248, 248);
}
.logo {
    position: relative; top:5px; left:25px;
}*/
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(27, 90, 161);
    text-shadow: 2px 2px 2px black;
    font-size: 1.7em;
}
.bar {
    text-align: right;
    margin:0px;
    position: relative; bottom:44px;
}
.nav:hover {
    background-color: #7C7C7C;
    text-shadow: 1px 1px 1px black;
}
.nav {
    list-style: none;
    display: inline-block;
    color: green;
    font-size: 1.3em;
    margin:0px;
    padding: 2px 3px;
}
h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(25, 144, 241);
    text-shadow: 3px 3px 3px black;
    font-size: 2em;
    margin:0px;
}
p {
    text-align: center;
    font-family: sans-serif;
    font-size: 1.6em;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px black;
    padding:2% 10%;
    margin:0px;
}
.resume {
    color: #008C93;
    font-size: 2em;
    font-family: serif;
    text-align: center;
}
.respan {
    background-color: #6BE4EA;
    padding: 3px 10px;
    border-radius: 10px;
}
.facebook:hover {
    filter: drop-shadow(2px 2px 2px grey);
    transform: scale(1.2);
}
.twitter:hover {
    filter: drop-shadow(2px 2px 2px grey);
    transform: scale(1.2);
}
.github:hover {
    filter: drop-shadow(2px 2px 2px grey);
    transform: scale(1.2);
}
.linkedin:hover {
    filter: drop-shadow(2px 2px 2px grey);
    transform: scale(1.2);
}
.reddit:hover {
    filter: drop-shadow(2px 2px 2px grey);
    transform: scale(1.2);
}
a {
    color: green;
    text-decoration: none;    
}
.profile {
    text-align: center;
}
.footercontent {
    color:white;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right:0;
  width: 100%;
  background-color: rgba(9, 9, 27, 0.2);
  color: white;
  text-shadow: 2px 2px 2px black;
  text-align: center;
}